<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Dodaj osobę</title>
</head>
<body>
<h1>Dodaj osobę</h1>
<form th:action="@{/person/add}" th:object="${person}" method="post">
    <label>Imię: <input type="text" th:field="*{firstName}" /></label><br/>
    <label>Nazwisko: <input type="text" th:field="*{familyName}" /></label><br/>
    <button type="submit">Zapisz</button>
</form>
<p><a th:href="@{/people}">Powrót do listy</a></p>
</body>
</html>
